/* 회사 소개 섹션 */
.about {
    padding: 120px 0;
    background: var(--light-color);
}

.about-content {
    display: flex;
    align-items: center;
    gap: 60px;
}

.about-text {
    flex: 1;
}

.about-text h3 {
    font-size: 2rem;
    margin-bottom: 25px;
    font-weight: 400;
    line-height: 1.4;
}

.about-text p {
    margin-bottom: 20px;
    font-size: 1.05rem;
    color: var(--gray-color);
}

.about-image {
    flex: 1;
    border-radius: 2px;
    overflow: hidden;
    background-color: var(--light-color);
    /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); */
    transform: translateY(0);
    transition: var(--transition);
}

.about-image:hover {
    transform: translateY(-10px);
}